body{
    font-family: 'Lobster', cursive;
    margin: 0%;
}
span{
    color: burlywood;
}
section{
    display: flex;
    margin-bottom: 5%;

}
.half-width{
    width: 50%;
    padding: 10%;
}
img{
    width: 80%;
}
.food{
text-decoration: none;
background-image: linear-gradient(orange, red);
padding: 10px 10px;
color: cornsilk;
font-weight: 900;
border-radius: 15%;
box-shadow: 2px 2px black;
}
.first-back{
background-image: url(7.png);
background-repeat: no-repeat;
}
.second{
    background-image: url(back.png);
    background-repeat: no-repeat;
    background-position: left;
}
.main-head{
    text-align: center;
    color: firebrick;
}
.font{
    font-size: larger;
}
.resturent{
    box-shadow: 10px 10px 10px deeppink;
    width: 40%;
    padding-left: 7%;
    margin: 1% 1%;
    border-radius: 5%;
border-left: 10px solid crimson;
}
.image-2{
    height: 600px;
    width: 400px;
}